# PhpStorm
/.idea/

# Apache
/Apache24/logs/
/Apache24/conf/httpd.conf

# PHP
/PHP/php.ini

# Redis
/Redis/server_log.txt
/Redis/dump.rdb

# Composer
/PhpApps/vendor/
/PhpApps/composer.lock

# Common
/PhpApps/Temp/
/PhpApps/Logs/